$bg-color:transparent;
$table-bg-color: #ffffff;
$table-head-bg-color: #f1f5f9;
$table-border-color: #e2e8f0;
$hover-bg-color: #e2e8f0;
$hover-text-color: #1e293b;

$table-head-text-color: #334155;
$table-body-text-color: #475569;

$radius: 12px;
$transition-speed: 0.2s;
